@font-face {
	font-family: 'marion';
	src: url('./assets/Marion.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'bp-normal';
	src: url('./assets/BP-Ecatherina-ex1-Regular-AF65fa9e2801136.otf')
		format('opentype');
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif;
}

body,
html,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	position: relative;
}

/* Video styling */
.custom-video-wrapper {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin-top: -10%;
}

.custom-video-wrapper video {
	width: 100%;
	height: auto;
	display: block;
}

/* Custom play button overlay */
.custom-play-button {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.8rem 2rem;
	font-size: 1.2rem;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #5a4f3c;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 400;
	color: #5a4f3c;
	font-family: 'marion', sans-serif;
	letter-spacing: 10%;
	cursor: pointer;
	z-index: 2;
}

.custom-play-button:hover,
.custom-play-button:focus {
	background: #5a4f3c;
	color: #ffffff;
}

.dear {
	font-size: 13px;
	font-family: 'marion', sans-serif;
	color: #5a4f3c;
}

footer {
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.invitee {
	font-family: 'bp-normal';
	font-weight: 200;
	font-size: 13px;
	margin-top: -10px;
	color: #000;
}
.username {
	font-family: 'bp-normal';
	font-weight: 200;
	font-size: 13px;
	margin-top: 0;
	color: #000;
}

.message {
	font-family: 'marion', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 12px;
	position: relative;
	color: #000;
	margin-top: -45px; /* Use a smaller negative margin */
}

/*************** RSVP ***************/

.RSVP {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}
.rsvp-header {
	font-family: 'marion', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 16px;
}

.total-invite {
	font-family: 'marion', sans-serif;
	font-weight: 200;
	color: #000;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 10px;
}

.formContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
.form-label {
	font-family: 'marion', sans-serif;
	font-weight: 400;
	color: #5a4f3c;
	margin-bottom: 10px;
	font-size: 16px;
	font-style: italic;
}

.formButton {
	padding: 0.5rem 1.3rem;
	font-size: 1.2rem;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #5a4f3c;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 400;
	color: #5a4f3c;
	font-family: 'marion', sans-serif;
	letter-spacing: 10%;
	cursor: pointer;
	z-index: 2;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.formButton:hover,
.formButton.selected {
	background: #5a4f3c;
	color: #ffffff;
}

.formSubmitButton {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #5a4f3c;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 400;
	color: #5a4f3c;
	font-family: 'marion', sans-serif;
	letter-spacing: 10%;
	cursor: pointer;
	z-index: 2;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.formSubmitButton:hover {
	background: #5a4f3c;
	color: #ffffff;
}

/*************** RSVP ***************/
.thankyou {
	background-color: #5a4f3c;
	border: 1px solid #5a4f3c;
	color: #ffffff;
	border-radius: 30px;

	padding: 15px 40px;
}

.thanks {
	font-family: 'marion', sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
}

.thanksItalic {
	font-family: 'marion', sans-serif;
	font-weight: 400;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-style: italic;
	margin-top: 5px;
}

/*************** SearchPage ***************/
.search-page {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.name {
	font-family: 'bp-normal';
	font-weight: 200;
	color: #5a4f3c;
	font-size: 26px;
	white-space: nowrap;
}
.invite-details {
	margin-top: -50%;
	margin-left: 40%;
	margin-bottom: 50px;
}
.invite {
	font-family: 'marion', sans-serif;
	font-weight: 400;
	color: #5a4f3c;
	font-size: 17px;
}
.date {
	font-family: 'marion', sans-serif;
	font-weight: 700;
	color: #5a4f3c;
	font-size: 17px;
}

.search-header {
}

.search-input {
	position: relative;
}

.label {
	font-family: 'marion', sans-serif;
	font-weight: 700;
	color: #5a4f3c;
	font-size: 13px;
	display: block;
	margin-bottom: 10px;
	margin-left: 20px;
}

#input {
	border: 1px solid #5a4f3c;
	border-radius: 30px;
	padding: 10px 20px;
	font-family: 'marion', sans-serif;
	font-weight: 400;
	color: #5a4f3c;
	font-size: 13px;
	width: 288px;
	transition: border-color 0.3s ease;
}

.suggestions {
	position: absolute;
	top: 100%; /* appear just below the input */
	left: 0;
	width: 90%;
	max-height: 200px;
	overflow-y: auto;
	border-radius: 5px;
	z-index: 10;
	margin-left: 5%;
	border: 1px solid #776b56;
	background-color: #f3f1f1;
}

.suggestions li {
	padding: 10px;
	cursor: pointer;
	color: #5a4f3c;
	font-family: 'marion', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 10%;
}

video::-webkit-media-controls {
	display: none !important;
}
video::-webkit-media-controls-enclosure {
	display: none !important;
}
video::-webkit-media-controls-panel {
	display: none !important;
}
